<nav class = "navbar bgc4 sticky-top">

        <div class="container-fluid">
            
            <div class="col-md-1 mb-3"><a href = "/"><img class = "logo mb-3 " src = "{{logo}}" alt = "Krafts by Kat Logo"></a></div>

            <div class="col-md-2 nav-anchor d-flex justify-content-left">

                {{#if adminFlag}} 
                    <a href = "/new-product" class = "f1 pb-2" > <i class = "fas fa-plus-circle me-3"> </i>ADD PRODUCTS</a>
                {{/if}}
                

            </div>

            <div class = "col-md-6 d-flex justify-content-center"><h1 class = "f3">KRAFTS BY KAT</h1></div>

            <div class="col-md-3 nav-anchor ps-5 pb-2 d-flex justify-content-center">
                
                {{#if userFlag}}

                    <div class="btn-grp">

                        <a href = "/account/{{user}}"class = "f1 mx-4" id = "account-anchor">{{user}}</a>

                        <a href = "/cart/{{user}}" class = "f1 mx-4"><i class = "fas fa-shopping-cart"></i></a>
                        
                        <i class="fas fa-bell"></i>

                    </div>

                {{else}}

                    <div class="btn-grp d-flex align-items-center">

                        <a class = "f1 mx-4" id = "account-anchor" data-bs-toggle = "modal" data-bs-target = "#login">LOGIN</a>
                    
                        <a href = "/signup" class = "ms-3 btn bgc5 cwhite">SIGN UP</a>

                    </div>
                    
                {{/if}}

            </div>
            
        </div>

</nav>

{{>login}}