<div class="container bgc3 one-order p-3 d-flex flex-row mt-3" >
   
    <div class="col-md-11">
        <a href="/view/orderID" class="order-anchor">

            <div class = "container">
                <h4>{{orderName}}</h4>
            </div>

            <div class="container d-flex flex-row">
                <span class="me-3">
                    <span class="bold">Order ID:</span> 
                    <span>{{orderId}}</span>
                </span>


                <span class="mx-3">
                    <span class="bold">Status: </span> 
                    <span>{{orderStatus}}</span>
                </span>

                <span class="mx-3">
                    <span class="bold">Delivery Date: </span>
                    <span>{{preferredDeliveryDate}}</span>
                </span>

                <span class="mx-3">
                    <span class="bold">Invoice: </span>
                    <span>₱ <span>{{orderPrice}}</span></span>
                </span>

            </div>
        </a>     
    </div>
  
    <div class="col-md-1 d-flex justify-content-end pe-2">
       
        <div class="dropdown">
            <button class="btn" type="button" id="opt-order" data-bs-toggle="dropdown" aria-expanded="false">
                 <i class="fas fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="opt-order">
                {{#if isAdmin}}
                    {{#if pendingOrder}}
                        <li><a class="dropdown-item" href="/setOrderAccepted/{{orderId}}">Set Accepted</a></li>
                        <li><a class="dropdown-item" href="/view/orderID">View Order</a></li>
                        <li><a class="dropdown-item" href="/cancelOrder/{{orderId}}">Cancel Order</a></li>
                    {{/if}}

                    {{#if acceptedOrder}}
                        <li><a class="dropdown-item" href="/setOrderEnRoute/{{orderId}}">Set En Route</a></li>
                        <li><a class="dropdown-item" href="/view/orderID">View Order</a></li>
                        <li><a class="dropdown-item" href="/cancelOrder/{{orderId}}">Cancel Order</a></li>
                    {{/if}}

                    {{#if enRouteOrder}}
                        <li><a class="dropdown-item" href="/setOrderDelivered/{{orderId}}">Set Delivered</a></li>
                        <li><a class="dropdown-item" href="/view/orderID">View Order</a></li>
                        <li><a class="dropdown-item" href="/cancelOrder/{{orderId}}">Cancel Order</a></li>
                    {{/if}}

                    {{#if deliveredOrder}}
                        <li><a class="dropdown-item" href="/view/orderID">View Order</a></li>
                    {{/if}}

                {{else}}
                    <li><a class="dropdown-item" href="/view/orderID">View Order</a></li>
                {{/if}}
                
            </ul>
        </div>
    </div>
    
</div>