{{#each visibilities}}
<div class="container bgc3 product d-flex flex-row p-3 mt-3">

    <div class="col-md-2 p-1 d-flex">
        <img src="{{lookup ../pictures @index}}" id="product-img">
    </div>

    <div class="col-md-9 d-flex flex-column pt-1"> 

        <div id = "product-id-{{../type}}_{{@index}}" class = "hidden">{{lookup ../ids @index}}</div>

        <div class="product-name" id = "product-name-{{../type}}_{{@index}}">
            <a href = "/viewItem/{{lookup ../ids @index}}">{{lookup ../names @index}}</a>
        </div>

        <div class="d-flex flex-row justify-content-start align-items-center product-details" id="product-details-{{@index}}">
            <span class = "me-4 item-prices" id = "item-price-{{../type}}_{{@index}}">₱{{lookup ../prices @index}}</span>

            <span class = "me-4" id = "item-rating-{{../type}}_{{@index}}"><span class = "item-ratings">{{lookup ../aveRatings @index}}</span><i class = "fas fa-star ms-1"></i></span>

            <span class = "me-4 item-sold" id = "item-sale-count-{{../type}}_{{@index}}"> {{lookup ../numberSold @index}} sold</span>
        </div>
    
    </div>

    <div class="col-md-1 d-flex justify-content-end pe-3 pt-1">
        <div class="dropdown">
            <button class="btn" type="button" id="product-options-{{../type}}_{{@index}}" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="product-options">

                <li><a class="dropdown-item" href="/viewItem/{{lookup ../ids @index}}" id = "view-dropdown-{{../type}}_{{@index}}">View</a></li>
                <li><a class="dropdown-item" href="/editItem/{{lookup ../ids @index}}" id = "edit-dropdown-{{../type}}_{{@index}}">Edit</a></li>

                {{#if this}}
                <li><a class="dropdown-item" href="/toggleVisibility/{{lookup ../ids @index}}" id = "hide-dropdown-{{../type}}_{{@index}}">Hide</a></li>
                {{else}}
                <li><a class="dropdown-item" href="/toggleVisibility/{{lookup ../ids @index}}" id = "hide-dropdown-{{../type}}_{{@index}}">Unhide</a></li>
                {{/if}}

                <li><a class="dropdown-item delete-dropdown" data-toggle="modal" id = "delete-dropdown-{{../type}}_{{@index}}">Delete</a></li>
            </ul>
        </div>
        
    </div>
</div>
{{/each}}

<div class = "modal fade" id = "delete-product-modal" tabindex = "-1" aria-hidden="true">
    <div class = "modal-dialog d-flex justify-content-center">
        <div class = "modal-content d-flex flex-column align-items-center">
            <div class = "col-md-6 bgc4 d-flex justify-content-center align-items-center" id = "delete-upper">

                <i class="fas fa-exclamation-triangle fa-5x"></i>

            </div>

            <div class = "col-md-6 bgc3 d-flex justify-content-center align-items-center flex-column f1 p-5" id = "delete-lower">
               
                <span class = "text-center delete-msg" id = "delete-prompt">Are you sure you want to delete <span class="bolder delete-msg" id="deleteProductName">{{this}}</span>?</span>  
                <div class="container" >
                    <form id = "modal-delete-form">
                        <input type = "hidden" id = "modal-delete-product-id" name = "modalDeleteProductId">

                        <div class="d-flex justify-content-between">
                            <button type = "submit" class = "btn bgc4 cblack mt-5" id = "continue-delete">Delete</button>
                            
                            <button type = "button" class = "btn bgc5 cwhite mt-5" data-bs-dismiss = "modal" id = "cancel-delete">Cancel</button>
                        </div>
                        
                    </form>
                </div>       
            </div>
        </div>
    </div>
</div>