{{>navbar userFlag = userFlag adminFlag = adminFlag}}

<div class="container-fluid d-flex justify-content-center align-items-center flex-column p-5 h-100">

    <div class = "d-flex justify-content-center" id = "product-focused">

        <div class = "col-md-4 py-4 d-flex justify-content-center align-items-center flex-column bgc1 " id = "product-images">
            
            <div class = " bgc5 d-flex justify-content-center align-items-center mt-2" id = "focused-img">
                <i class = "far fa-images fa-7x fc3" id = "icon-big"></i>
                <img id = "pic-big">
            </div>

            <div class = "container d-flex mt-3 flex-row center-content" id = "small-view-pic-container">


                <div class = "container mx-1 bgc5 d-flex justify-content-center align-items-center fixed-pic p-1" id="img1">
                    <i class = "far fa-images fa-2x mx-1 fc3" id = "icon1"></i>
                    <img id = "pic1" class = "small-view-pic"> 
                </div>
                <div class = "container mx-1 bgc5 d-flex justify-content-center align-items-center fixed-pic p-1" id="img2">
                    <i class = "far fa-images fa-2x mx-1 fc3" id = "icon2"></i>
                    <img id = "pic2" class = "small-view-pic">
                </div>
                <div class = "container mx-1 bgc5 d-flex justify-content-center align-items-center fixed-pic p-1" id="img3">
                    <i class = "far fa-images fa-2x mx-1 fc3" id = "icon3"></i>
                    <img id = "pic3" class = "small-view-pic"> 
                </div>
                <div class = "container mx-1 bgc5 d-flex justify-content-center align-items-center fixed-pic p-1" id="img4">
                    <i class = "far fa-images fa-2x mx-1 fc3" id = "icon4"></i>
                    <img id = "pic4" class = "small-view-pic">
                </div>
                <div class = "container mx-1 bgc5 d-flex justify-content-center align-items-center fixed-pic p-1" id="img5">
                    <i class = "far fa-images fa-2x mx-1 fc3" id = "icon5"></i>
                    <img id = "pic5" class = "small-view-pic">
                </div>


            </div>



        </div>

        <div class = "col-md-8 d-flex flex-column bgc3 p-5 f1" id="product-details">

            <div class = "container">
                <h3 class = "d-inline-block text-truncate bold" style = "max-width: 600px;">
                        {{name}}
                </h3>
            </div>

            <div class = "container bold d-flex flex-row">

                <span class = "me-2">
                    <span class = "product-rating"> {{aveRating}}</span>
                    <i class = "fas fa-star ms-1"></i>
                </span>

                <span class = "mx-2">|</span>
                <span class = "mx-2"><span id="rating-count">{{numRatings}}</span> Ratings</span>

                <span class = "mx-2">|</span>

                <span class = "mx-2">
                    <span id="units-sold">{{numberSold}}</span> Sold
                </span>

                <span class = "mx-2">|</span>

                <span class = "mx-2">
                    <span id="units-available">{{quantity}}</span> Units Available
                </span>

                <span class = "mx-2">|</span>

                <span class = "mx-2">
                    <i class="fas fa-cart-plus" data-bs-toggle="tooltip" data-bs-placement="top" title="add to order"></i>
                </span>

            </div>

            <div class="container mt-4 bgc4 p-2 price-details d-flex flex-column">
                <h3 id="product-price">₱{{price}}</h3>

                
            </div>

            <div class="container bgc4 mt-4 price-details p-3" id="price-desc-container">
                <h5 >Description</h5>
                <div class="dropdown-divider"></div>
                <div class="container">{{description}}</div>

            </div>

        </div>

    </div>

    <div class="container bgc3 mt-5" id="product-reviews">
        Product Reviews Here
    </div>

</div>

<div class = "invisible" id = "picturePaths">{{pictures}}</div>

<script src = "/js/view-product.js"></script>